version: "3.8"

services:
  cutr-app:
    build: .
    container_name: cutr-app
    restart: always
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - cutr-redis
      - cutr-postgres

  cutr-postgres:
    image: postgres:16
    container_name: cutr-postgres
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d/

  cutr-redis:
    image: redis:alpine
    container_name: cutr-redis
    restart: unless-stopped
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

volumes:
  pgdata:
  redis_data:
